<!DOCTYPE html>
<html>
<head>
			<title>Post myBlog</title>
	</head>
	<body>
		<div class="box">
			<form method="POST" action="/add">
					<h1>Just type down what you think about my Portfolio.</h1>
					<div>
	      				<label for="topic">topic:</label>
	      				<textarea type="title" id="title" name="topic"></textarea>
	    			</div>
					<div>
	      				<label for="note"></label>
	      				<textarea type="note" id="para" name="note"></textarea>
								<button class="btn">send</button>
			</form>
		</div>
	</body>
</html>
