<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>
    <div class="box">
    <form method="POST" action="/update">
        <h1>Update</h1>
        <div>
          <label>topic: </label>
          <textarea type="topic" id="title_text" name="topic"></textarea>
        </div>
        <div>
          <label>Message: </label>
          <textarea type="note" id="body_text" name="note"></textarea>
          <button> Send </button>
        </div>
    </form>
    </div>
</body>
</html>
